  /**
    copyright 2012,2013,2017 Arun Persaud <arun@nubati.net>

    This file is part of Php-photo-tags.

    Php-hoto-tags is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Php-hoto-tags is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Php-hoto-tags.  If not, see <http://www.gnu.org/licenses/>.

  **/

body {text-align: center;}

footer {
  border-top: 1px solid grey;
  color: #333;
}

.copyright {
    color: #555;
    float:right;
}

.permalink {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #333;
    padding-right: 1em;
}

.tagsearch {
    text-align: left;
    padding-left: 50px;
}

.tagsearch p { margin-top: 3px;}


h1 { padding-top: 1em;}

a[visited]{ color: #aaa;}

nav {
    text-align: center;
}

.pics li {
  display: inline;
  list-style: none;
}

.pics img {
  margin: 2px;
  height: 100px;
}

img.current {
    position:relative;
    border: 2px solid black;
}

.pics img.large{
  height: 500px;
}


.debug { position: absolute; top:0; left:0}

.nextprev ul li {
    display:inline;
}
.nextprev ul li img {
    margin-right: 5px;
}

.singlepic {
    position: relative;
    display: inline-block;
    height: 500px;
}

.singlepic img.large, .singlepic .left, .singlepic .right  {
    display: inline;
}

.singlepic:hover .left, .singlepic:hover .right {
    opacity: 0.6;
}

.singlepic .left:hover, .singlepic .right:hover {
    opacity: 0.95;
}

.singlepic img.left , .singlepic img.right  {
    position: relative;
    top: 0%;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    border: 0px solid white;
}

