body {text-align: center;}

footer {
  border-top: 1px solid grey;
  color: #333;
}

.copyright {
    color: #555;
    float:right;
}

.permalink {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #333;
    padding-right: 1em;
}

.tagsearch {
    text-align: left;
    padding-left: 50px;
}

.tagsearch p { margin-top: 3px;}


h1 { padding-top: 1em;}

a[visited]{ color: #aaa;}

nav {
    text-align: center;
}

.pics li {
  display: inline;
  list-style: none;
}

.pics img {
  margin: 2px;
  height: 100px;
}

img.current {
    position:relative;
    border: 2px solid black;
}

.pics img.large{
  height: 500px;
}


.debug { position: absolute; top:0; left:0}

.nextprev ul li {
    display:inline;
}
.nextprev ul li img {
    margin-right: 5px;
}

.singlepic {
    position: relative;
    display: inline-block;
    height: 500px;
}

.singlepic img.large, .singlepic .left, .singlepic .right  {
    display: inline;
}

.singlepic:hover .left, .singlepic:hover .right {
    opacity: 0.6;
}

.singlepic .left:hover, .singlepic .right:hover {
    opacity: 0.95;
}

.singlepic img.left , .singlepic img.right  {
    position: relative;
    top: 0%;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    border: 0px solid white;
}

