
h1 {
    color:red;
    margin: 1em 0;
    text-align: center;
}
body {
    background-color: black;
    color: #eee;
}

.permalink {
    float:right;
    color: #eee;
    padding-right: 1em;
}

a[visited]{ color: #aaa;}

nav {
    text-align: center;
}

.pics li {
  display: inline;
  list-style: none;
}

.pics img {
  border: 1px solid white;
  margin: 2px;
  height: 100px;
}

img.current {
    position:relative;
    top:1px;
    border: 1px solid white;
}

.pics img.large{
  border: 1px solid white;
  margin: 2px;
  height: 500px;
}

footer {
  border-top: 1px solid grey;
  color: #eee;
}

.copyright {
    color: #999;
    float:right;
}


.debug { position: absolute; top:0; left:0}

.nextprev ul li {
    display:inline;
}
.nextprev ul li img {
    margin-right: 5px;
}

.singlepic {
    position: relative;
    display: inline-block;
}

.singlepic:hover .left, .singlepic:hover .right {
    display: inline-block;
    opacity: 0.6;
}

.singlepic .left img, .singlepic .right img {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 0px solid white;
}

.singlepic .left, .singlepic .right {
    display: none;
    height: 500px;
    width: 50px;
    z-index:2;
    opacity: 0.0;
}
.singlepic .left {
    position: absolute;
    left: 3px;
    top: 3px;
}
.singlepic .right {
    position: relative;
    left: -56px;
    top: -3px;
}

.singlepic .left:hover, .singlepic .right:hover {
    opacity: 0.95;
}
