
h1 {color:red}
body {
    background-color: black;
    color: #eee;
}

.permalink {
    float:right;
    color: #eee;
    padding-right: 1em;
}

a[visited]{ color: #aaa;}

.index {
    margin: 0 auto;
    width:70%;
}

.pics li { 
  display: inline;
  list-style: none;
}

.pics img {
  border: 1px solid white;
  margin: 2px;
  height: 100px;
}

footer {
  border-top: 1px solid grey;
  color: #eee;
}

.copyright {
    color: #999;
    float:right;
}


.debug { position: absolute; top:0; left:0}