
h1 {
    color:red;
    margin: 1em 0;
    text-align: center;
}
body {
    background-color: black;
    color: #eee;
}

.permalink {
    float:right;
    color: #eee;
    padding-right: 1em;
}

a[visited]{ color: #aaa;}

.index {
    margin: 0 10px;
}
nav {
    text-align: center;
}

.pics li {
  display: inline;
  list-style: none;
}

.pics img {
  border: 1px solid white;
  margin: 2px;
  height: 100px;
}

.pics img.large{
  border: 1px solid white;
  margin: 2px;
  height: 500px;
}

footer {
  border-top: 1px solid grey;
  color: #eee;
}

.copyright {
    color: #999;
    float:right;
}


.debug { position: absolute; top:0; left:0}

.nextprev ul li {
    display:inline;
}
.nextprev ul li img {
    padding-right: 5px;
}